.About{
    background-color:var(--bg-colour);
    width: auto;
    height: fit-content;
    color:var(--font-colour);
    display: flex;
    flex-direction: column;
    /* border-radius: 50px; */
   
}
.about-contanier{
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:var(--font-colour);
  
}
.about-header{
    position: relative;
    text-align: center;

}

.about-header::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 1px;
    background-color:var(--font-colour);
    top: 90%;
    left: 50%;
    transform: translatex(-50%);
}
.about-header::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background-color:var(--theme-colour);
    top: calc(90% - 2px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
.about-design .about-circles{
    margin-top: 80px;
    width: 100vh; 
    display: grid;
    grid-template-columns: 1fr 1fr; 
    row-gap: 100px;
}

.about-circles .circle{
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 100px;
    padding: 20px;
 
}
.about-circles .circle h2{
    color: white    ;
   
}
.power-circle{
    position: absolute;
    top: -5px;
    left: -5px;
    background-color:var(--theme-colour);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    color: var(--font-colour);
}

.about-content button{
    background-color: var(--theme-colour);
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    color:var(--font-colour);
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    transition: 0.6s all;
}
.about-content .hire-me{
    margin-left: 10px;
    margin-left: 10px;
    background-color:var(--font-colour);
    color: var(--bg-colour);
}
.about-content .hire-me:hover{
    scale: 1.1;
   
}
.about-content button:hover{
    background-color: var(--font-colour);
    color:var(--bg-colour);
    box-shadow: none;
    border-radius: 5px;
}
.about-content{
 width: fit-content;
 padding: 10px 10px 50px 10px;
}
.about-content p{
font-size: 20px;
letter-spacing: 1px;
text-align: justify;
line-height: 1.5;

}

.about-design{
    z-index: 0;
}
@media  (max-width: 1322px) {
    
    .about-design{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-wrap: break-word;
    }
    .about-design .about-circles{
       
        grid-template-columns: 1fr 1fr; 
        column-gap: 100px;
        width: max-content;
      
    }

    .about-circles .circle{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        margin-left: 10px;
        padding: 20px;
    }
    .about-content{
      overflow:hidden;
     
    }

}

@media ( max-width: 1011px ){

   .About .about-contanier{
        margin-top: 35px;
       display: grid;
      grid-template-columns: 1fr;
      
    }

    .about-design{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-design .about-circles{
       
        grid-template-columns: 2fr 2fr; 
        column-gap:200px;
        width: max-content;
      
    }
    .about-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: auto;
      margin: 0px 100px;
      }
}

@media (max-width:674px) {
     /* .about-contanier{
        background-color: aqua;
    }  */
    .about-design .about-circles{
       
        grid-template-columns: 2fr 2fr; 
        column-gap:100px;
      
      
    }
    .about-content{
        margin-left: 80px;
        width: 500px;
        display: block;
        text-align: justify;
    
       
       
       
    }
}