
.Home{
    background-color: var(--bg-colour);
   color: var(--font-colour);
   display: grid;
   grid-template-columns: 2fr 3fr;
   width:auto;
   height:auto;
   /* border-bottom: 2px solid red;
   border-bottom-left-radius:100px ;
   border-bottom-right-radius:50px ; */
   padding-bottom: 80px;
   position: relative;
  z-index: 0;
}
   
.content-part
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 120px;
}
.title h1{
    font-size: 28px;
  
}

.title h1 span{
    color:var(--theme-colour);
    font-size: 32px;
    letter-spacing:2px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}
.title h2 span{
    /* color:var(--theme-colour); */
    background: var(--theme-colour);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.description{
    text-align: justify;
}
.hire-me-home{
    margin-top: 20px;
}

.Home .content-part .hire-me-home button
{
    background-color: var(--theme-colour);
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    color:var(--font-colour);
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    transition: 0.6s all;
    
}
.hire-me-home #hire-me
{
    margin-left: 10px;
    background-color:var(--font-colour);
    color: var(--bg-colour);
}
.hire-me-home #hire-me:hover{
    scale: 1.1;
}
.Home .content-part .hire-me-home button:hover{
    background-color:var(--font-colour);
    color:var(--bg-colour);
}
.social-media ul{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -60px;
    margin-top: 30px;
}
.social-media ul li{
    animation: float 3s ease-in-out infinite;
    transition: all 0.4s;
    font-family: "Open Sans", sans-serif;
    
}
.social-media ul li a:hover{
    color: var(--font-colour);
   
}
.social-media ul li:nth-child(2) {
    animation-delay: 2s;
}

.social-media ul li:nth-child(3) {
    animation-delay: 3s;
}
.social-media ul li:nth-child(4) {
    animation-delay: 4s;
}
.social-media ul li:nth-child(5) {
    animation-delay: 5s;
}


@keyframes float {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
    }

   100%{
        transform: translateY(0);
    }
    
}
.social-media ul li a{
   text-decoration: none;
    font-size: 32px;
    color:var(--theme-colour);  
}
li{
    list-style-type: none;
}
.image-part{
margin-top: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
  
}

.hero_img
{
   width: 700px;
   height: 500px;  
   /* box-shadow:10px 10px  red; */
  filter: drop-shadow(0px 0px 15px var(--theme-colour));
  z-index: 1;
  padding: 30px 0px;

}

@media (max-width:950px){
    .Home{

       display: grid;
       grid-template-columns: 1fr;
       width:auto;
       height:100vh;}

       .content-part
       {
           display: flex;
           flex-direction: column;
           margin: 20% 10% 0% 10%;
           z-index: -1;
       }

 .hero_img
{
   width: 400px;
   height: 200px;  
   /* box-shadow:10px 10px  red; */
  /* filter: drop-shadow(0px 0px 15px var(--theme-colour)); */
  z-index: 3;
  padding: 30px 0px;
  position: absolute;

}


}
